<div class="form-control {{formControlModifier}}">
  <label for="" class="form-control__label">{{inputLabel}}</label>
  <input type="{{inputType}}" id="{{inputId}}" class="form-control__input" placeholder="{{inputPlaceholder}}" value="{{inputValue}}" {{#readonly}}readonly{{/readonly}}>
</div>
